@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .overlay {
        @apply absolute;
    }

    .overlay * {
        @apply transition-all duration-200;
    }

    .overlay.hoverable > * {
        @apply opacity-0;
    }

    .overlay.hoverable:hover > * {
        @apply opacity-100;
    }

    .overlay .video {
        @apply absolute transform bg-blue-200 bg-no-repeat bg-center rounded-full flex items-center justify-center;
        background-image: url("../images/design/icon-play.svg");
        top: 50%;
        left: 50%;
    }

    .hero .hero-caption, .hero .hero-image {
        min-height: 90vh;
    }

    .hero .hero-cta {
        @apply w-16 h-16;
        transform: translateX(-75px) translateY(-50%);
        background-size: auto;
    }

    .section-network {
        background-color: #FFFFFF;
    }

    .card .card-shadow {
        @apply transition duration-300 shadow-none h-full;
    }

    .card:hover .card-shadow {
        @apply shadow-lg;
    }
}

@media only screen and (max-width: 425px) {
    .card .overlay {
        @apply justify-center;
    }

    .section-network p {
        font-size: 16px;
    }
}

@screen md {
    .hero .hero-caption, 
    .hero .hero-image {
        min-height: auto;
    }
    .hero .hero-cta {
        @apply w-14 h-14;
        transform: translateX(-50%) translateY(-50%);
        background-size: auto;
    }
}

@layer utilities {
    .stretched-link {
        @apply absolute inset-0 z-10 cursor-pointer;
    }

    .grid {
        grid-auto-flow: dense;
        grid-auto-rows: minmax(180px, auto);
    }
}

a.cart svg g circle.dot {
    @apply hidden;
}


a.cart.cart-filled svg g circle.dot {
    @apply block;
}